{% extends 'base.html' %}
{% block content %}
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Shop from any part of the world.</h1>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>

    <div class="container">
    	



    </div>




    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Are you a traveller?</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons pull-right">
                        <li>
                            <a href="#" class="btn btn-success btn-lg"> <span class="network-name">Click Here!</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

{% endblock content %}