{% extends 'base.html' %}
{% block content %}
{% load staticfiles %} 
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Shop anywhere around the world.</h1>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <div class="container">
    <h1> Top Selling Items in our website </h1>
    <div class="row">
        <!-- Card Projects -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive"  width="488px" height="610px" src="{% static 'img/appletv.jpg' %}">
                    <span class="card-title">Material Cards</span>
                </div>
                                
                <div class="card-action">
                	<h4 class="text-primary" style="display:inline-block"> $18,000 </h4>
                    <a href="/item/1" target="new_blank" class="btn btn-primary btn-raised pull-right">view item</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="{% static 'img/menj.jpg' %}">
                    <span class="card-title">Material Cards</span>
                </div>
                                
                <div class="card-action">
                    <h4 class="text-primary" style="display:inline-block"> $18,000 </h4>
                    <a href="/item/1" target="new_blank" class="btn btn-primary btn-raised pull-right">view item</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" width="488px" height="610px" src="{% static 'img/garmin.jpg' %}">
                    <span class="card-title">Material Cards</span>
                </div>
                                
                <div class="card-action">
                	<h4 class="text-primary" style="display:inline-block"> $18,000 </h4>
                    <a href="/item/1" target="new_blank" class="btn btn-primary btn-raised pull-right">view item</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="{% static 'img/brocade.jpg' %}">
                    <span class="card-title">Material Cards</span>
                </div>
                                
                <div class="card-action">
                    <h4 class="text-primary" style="display:inline-block"> $18,000 </h4>
                    <a href="/item/1" target="new_blank" class="btn btn-primary btn-raised pull-right">view item</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive"  width="488px" height="610px"src="{% static 'img/gopro.jpg' %}">
                    <span class="card-title">Material Cards</span>
                </div>
                                
                <div class="card-action">
                	<h4 class="text-primary" style="display:inline-block"> $18,000 </h4>
                    <a href="/item/1" target="new_blank" class="btn btn-primary btn-raised pull-right">view item</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="{% static 'img/menbag.jpg' %}">
                    <span class="card-title">Material Cards</span>
                </div>
                                
                <div class="card-action">
                    <h4 class="text-primary" style="display:inline-block"> $18,000 </h4>
                    <a href="/item/1" target="new_blank" class="btn btn-primary btn-raised pull-right">view item</a>
                </div>
            </div>
        </div>
    </div>
    </div>


    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Are you a traveller?</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons pull-right">
                        <li>
                            <a href="#" class="btn btn-success btn-lg"> <span class="network-name">Click Here!</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

{% endblock content %}