{% extends 'base.html' %}

{% block content %}
	<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							Profile Information
						</div>
						<div class="panel-body">
				            <img class="circle" src="http://lorempixel.com/256/256/people/1" alt="icon" align="middle">
				            <br><br>				            
							<div class="list-group">
							    <div class="list-group-item">
							        <div class="row-action-primary">
							            <i class="mdi-action-account-circle"></i>
							        </div>
							        <div class="row-content">
							            <div class="action-secondary"><i class="mdi-material-info"></i></div>
							            <h4 class="list-group-item-heading">Name</h4>
							            <p class="list-group-item-text">Prithviraj Raj</p>
							        </div>
							    </div>
							    <div class="list-group-separator"></div>
							<div class="list-group">
							    <div class="list-group-item">
							        <div class="row-action-primary">
							            <i class="mdi-action-stars"></i>
							        </div>
							        <div class="row-content">
							            <div class="action-secondary"><i class="mdi-material-info"></i></div>
							            <h4 class="list-group-item-heading">Rating</h4>
							            <p class="list-group-item-text">4.5/5.0</p>
							        </div>
							    </div>
							    <div class="list-group-separator"></div>

							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							Other Information
						</div>
				    	<div class="panel-body">
							<div class="list-group">
							    <div class="list-group-item">
							        <div class="row-action-primary">
							            <i class="mdi-communication-location-on"></i>
							        </div>
							        <div class="row-content">
							            <div class="action-secondary"><i class="mdi-material-info"></i></div>
							            <h4 class="list-group-item-heading">Place</h4>
							            <p class="list-group-item-text"> Mumbai</p>
							        </div>
							    </div>
							    <div class="list-group-separator"></div>
							    <div class="list-group-item">
							        <div class="row-action-primary">
							            <i class="mdi-action-face-unlock"></i>
							        </div>
							        <div class="row-content">
							            <div class="action-secondary"><i class="mdi-material-info"></i></div>
							            <h4 class="list-group-item-heading">Age</h4>
							            <p class="list-group-item-text">40.</p>
							        </div>
							    </div>
							    <div class="list-group-separator"></div>
							    <div class="list-group-item">
							        <div class="row-action-primary">
							            <i class="mdi-communication-location-on"></i>
							        </div>
							        <div class="row-content">
							            <div class="action-secondary"><i class="mdi-material-info"></i></div>
							            <h4 class="list-group-item-heading">Previous Trips</h4>
							            <p class="list-group-item-text">40.</p>
							        </div>
							    </div>
							    <div class="list-group-separator"></div>
		    				</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-8">
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
					<div class="panel-heading">
						Desctiption
					</div>
					<div class="panel-body">
						Balaji Viswanathan
						Teacher and a Product Manager.
						Product Manager at Black Duck - a VC funded startup in Boston. Run a signature business program in my spare time: MBA Bootcamp: Business School on Steroids

						Written a book on contemporary Indian history: From Tryst to Tendulkar. Has a Bachelors in Engineering, MS in Computer Science with a thesis on Intelligent Agents [some of what are now called Internet of Things] and an MBA. Worked at Microsoft Redmond helping build Windows and a few research prototypes. Founded 2 startups that went through top incubators. 

						I have organized my answers into Quora books: My Quora books 
						Here is a bio: What should everyone know about Balaji Viswanathan?
					</div>
					</div>
				</div>
				<div class="col-lg-12">

					<div class="panel panel-default">
						<div class="panel-body">
							<ul class="nav nav-tabs" style="margin-bottom: 15px;">
							    <li class="active"><a href="#home" data-toggle="tab">Trips</a></li>
							    <li><a href="#profile" data-toggle="tab">Requests</a></li>
							</ul>
							<div id="myTabContent" class="tab-content">
							    <div class="tab-pane fade active in" id="home">
							        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
							    </div>
							    <div class="tab-pane fade active in" id="profile">
							        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
							    </div>
		    				</div>
		    			</div>
		    		</div>


				</div>
			</div>
		</div>
		
	</div>

	</div>



{% endblock content %}